@font-face {
    font-family: "harry";
    src: url("fonts/harrypotter.ttf");
}

body {
    background-color: aliceblue;
    
}

.harry-font {
    font-family: harry;
}

h1.harry-font {
    cursor:pointer;
}

#student-block-grid {
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    grid-column-gap:20px;
    grid-row-gap:20px;
 
    
  }   

  #student-block{
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    height:100%;
    background-color:white;
  }

  #student-block:hover{
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
    cursor:pointer;
  }

#house-color{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    font-size:5vmin;
    width:100%;
    display:inline-block;
}
#house-color p{
    text-align: center;
    vertical-align: middle;
    line-height: 20px; 
    font-size:1.5em;
}

.Gryffindor {
    background-color: #ce3a0a;
    color: #fdb02e
}

.Hufflepuff {
    background-color: #ffc02a;
    color: #0b0000  
}

.Ravenclaw {
    background-color: #395f9d;
    color: #e9ba36  
}

.Slytherin {
    background-color: #588c39;
    color: #c0b1c6  
}

p#first-name {
    width:100%;
    display:inline-block;
    text-align: left;
    line-height:50px;
    padding-left:20px;
    padding-right:20px;
    font-family: 'Open Sans', sans-serif;
    font-size:2.5vmin;
    
    font-weight:800;
}

p#first-name span {
    font-weight:100;
}

p#last-name {
    display:inline-block;
    line-height:50px;
    width:100%;
    text-align: left;
    padding-left:20px;
    padding-right:20px;
    font-family: 'Open Sans', sans-serif;
    font-size:2.5vmin;
    font-weight:800;
}

p#last-name span {
    font-weight:100;
}

button#expel {
    width:100%;
    cursor: pointer;
    height:50px;
    font-size:4vmin;
    display:inline-block;
}

button#all span,
button#slytherin span,
button#hufflepuff span,
button#gryffindor span,
button#ravenclaw span{
    border-left:1px solid;
    border-right:1px solid;
    width:100%;
    padding-left:2px;
    padding-right:2px;
    
}

button {
    style:none;
}